body {
    overflow-x: hidden;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

header {
    font-size: larger;
    margin-bottom: 45px;
    font-family: serif;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    font-family: serif;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 15px;
    width: 100%;
    position: absolute;
    background-color: black;
    padding: 30px;
    top: -20px;
    left: 0px;
}

footer {
    font-size: larger;
    margin-bottom: 45px;
    font-family: serif;
    background-color: black;
    width: 100%;
    display: flex;
    position: absolute;
    color: white;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    margin-left: -2px;
    font-size: large;
}

header p {
    font-size: large;
    justify-content: center;
    margin-inline-start: 120px;
    margin-inline-end: 120px;
    display: flex;
}

.carousel-container {
    width: 320px;
    position: relative;
    margin: auto;
}

.carousel {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.item {
    flex: none;
    width: 100%;
    scroll-snap-align: start;
    text-align: center;
}

.item img {
    width: 100%;
    border-radius: 5px;
}

.nav {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background: black;
    color: white;
    border: none;
    /* padding: 15px; */
    cursor: pointer;
    font-size: 20px;
    border-radius: 15px;
    height: 30px;
    width: 30px;
}

.prev { left: -45px; }
.next { right: -45px; }

.item p {
    font-size: large;
    width: 100%;
}