body {
    overflow-x: hidden;
    font-family: serif;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

header {
    font-size: larger;
    margin-bottom: 45px;
    font-family: serif;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header p {
    justify-content: center;
    margin-inline-start: 120px;
    margin-inline-end: 120px;
    display: flex;
}

nav {
    font-family: serif;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 15px;
    width: 100%;
    position: absolute;
    background-color: black;
    padding: 30px;
    top: -20px;
    left: 0px;
}

footer {
    font-size: larger;
    margin-bottom: 45px;
    font-family: serif;
    background-color: black;
    width: 100%;
    display: flex;
    position: absolute;
    color: white;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    margin-left: -2px;
    font-size: large;
}

.musicas_main {
    gap: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
}

.musicas_main img {
    width: 400px;
    height: 300px;
}

.musicas_main p {
    display: flex;
    justify-content: center;
}