body {
    overflow-x: hidden;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

header {
    font-size: larger;
    margin-bottom: 45px;
    font-family: serif;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header p {
    font-size: large;
    justify-content: center;
    margin-inline-start: 120px;
    margin-inline-end: 120px;
    display: flex;
}

nav {
    font-family: serif;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 15px;
    width: 100%;
    position: absolute;
    background-color: black;
    padding: 30px;
    top: -20px;
    left: 0px;
}

footer {
    font-size: larger;
    margin-bottom: 45px;
    font-family: serif;
    background-color: black;
    width: 100%;
    display: flex;
    position: absolute;
    color: white;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    margin-left: -2px;
    font-size: large;
}

.ref {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    margin-left: 50px;
    margin-top: 50px;
}

.ref p {
    font-family: serif;
    font-size: x-large;
    margin-inline-end: 100px;
}