body {
    overflow-x: hidden;
}

.formatação {
    font-size: larger;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline-start: 40px;
    margin-inline-end: 70px;
    margin-bottom: 50px;
}

.formatação_texto2 {
    font-size: larger;
    margin-bottom: 45px;
    font-family: serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline-start: 40px;
    margin-inline-end: 70px;
    margin-bottom: 45px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

header {
    font-size: larger;
    margin-bottom: 45px;
    font-family: serif;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    font-family: serif;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 15px;
    width: 100%;
    position: absolute;
    background-color: black;
    padding: 30px;
    top: -20px;
    left: 0px;
}

footer {
    font-size: larger;
    margin-bottom: 45px;
    font-family: serif;
    background-color: black;
    width: 100%;
    display: flex;
    position: absolute;
    color: white;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    margin-left: -2px;
    font-size: large;
}