body {
    overflow-x: hidden;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

header {
    font-size: larger;
    margin-bottom: 45px;
    font-family: serif;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header p {
    justify-content: center;
    margin-inline-start: 120px;
    margin-inline-end: 120px;
    display: flex;
}

nav {
    font-family: serif;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 15px;
    width: 100%;
    position: absolute;
    background-color: black;
    padding: 30px;
    top: -20px;
    left: 0px;
}

footer {
    font-family: serif;
    background-color: black;
    width: 100%;
    display: flex;
    position: absolute;
    color: white;
    flex-direction: column;
    align-items: center;
    margin-left: -2px;
    font-size: large;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 100px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}